*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: Gilroy, PingFang SC;
  background-color: #f6f7f8;
  color: rgba(60, 60, 67);
}

.fork {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: 64px auto 0;
  padding: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 64px;
}

header {
  display: flex;
  gap: 48px;
  font-size: 16px;
  align-items: center;
}

.langs {
  display: flex;
  align-items: center;
  gap: 16px
}

#toggle {
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  color: #333;
  cursor: pointer;
}

.langs #toggle svg {
  transition: all 0.3s ease;
  transform: rotate(0);
}

.langs.reverse #toggle svg {
  transform: rotate(180deg);
}

.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #e6eeff;
  border-radius: 8px;
  padding: 20px 0;
  overflow: hidden;
  background: linear-gradient(0deg, #f4f7ff, #f4f7ff),
    linear-gradient(94.84deg, #fff 3.78%, #fcfdff 9.75%, #e6eeff 102.09%),
    linear-gradient(126.58deg, #fff -18.12%, hsla(0, 0%, 100%, 0) 26.77%);;
}

.box::before {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 0px;
  border-left: dashed 3px #e6eeff;
}

#input {
  display: block;
  flex: 1;
  height: 100%;
  min-height: 300px;
  border: none;
  background-color: transparent;
  padding: 0 20px;
  outline: 0;
  font-size: 20px;
  line-height: 32px;
  resize: none;
}

#output {
  flex: 1;
  align-self: flex-start;
  min-height: 300px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 32px;
}

.meta {
  padding-top: 16px;
  font-size: 14px;
  padding-left: 12px;
  padding-bottom: 64px;
}
